.popup-main {
    user-select: none;
    min-width: 300px;
    max-width: 300px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.extension-icon-box {
    margin-top: 25px;
    margin-left: 10px;
}

.extension-name-box {
    margin-top: 10px;
}

.extension-version-box {
    margin-bottom: 15px;
}

.entry-visibility-box {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
}

.entry-name-text {
    margin-left: 5px;
}

.export-button {
    margin-right: 5px;
}
