.not-interested-button {
    border-width: 1px;
    border-color: grey;
    background-color: black;
    cursor: pointer;
    padding: 1px;
    margin-top: 4px;
    margin-bottom: 3px;
    margin-left: 4px;
    border-radius: 4px;
}

.not-interested-button > img {
    filter: invert(11%) sepia(92%) saturate(5105%) hue-rotate(359deg) brightness(93%) contrast(114%);
}

.not-interested-status-search-table {
    border: 1px #550000 solid !important;
    background-color: #550000 !important;
    pointer-events: none !important;
}

.not-interested-status-top-table {
    border: 1px #910000 solid !important;
    background-color: #ffffff00 !important;
    color: #b82e2e !important;
    pointer-events: none !important;
}

.not-interested-status-single-entry {
    border: 1px #910000 solid !important;
    background-color: #ffffff00 !important;
    color: #b82e2e !important;
    pointer-events: none !important;
    padding-left: 12px !important;
}

.not-interested-status-single-entry::after {
    display: none !important;
}

.not-interested-status-parent-single-entry > select#myinfo_score {
    pointer-events: none !important;
}

.not-interested-status-parent-single-entry > div.form-user-episode {
    pointer-events: none !important;
}